header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
}
.siteLogo {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.siteTitle {
  /* 文字の装飾 */
  color: blue;
  font-size: 3rem;
  letter-spacing: 5px;
  line-height: 50px;
  font-family: fantasy;

  background-color: orange;
  /* デフォルトの余白を削除 */
  margin: 0;
  /* reset.cssを使おう */
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: paleturquoise;
}

li {
  font-size: 1.6rem;
  display: inline-block;
  letter-spacing: 5px;
  padding: 10px;
  border-left: 3px solid tomato;
  margin-top: 5px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid chocolate;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 20px 50px;
}

section div {
  width: 50%;
}

section div p{
font-size: 1.6rem;
}

section img {
  box-sizing: border-box;
  width: 50%;
  padding: 20px 50px;
  margin: 0 10px;
}

.contentTtl {
  font-size: 18px;
  position: relative;
  margin: 0;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid skyblue;
}

.contentTtl:after {
  background-color: lightgrey;
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -10;
  transform: rotate(-1deg);
}

/*　画面サイズが600pxからはここを読み込む　*/
@media screen and (max-width: 600px) {
  section {
    flex-direction: column;
    padding: 10px 50px;
    margin: 10px 20px;
  }
  section div {
    width: 100%;
  }

  section div p{
font-size: 1.4rem;
}

  section img {
    width: 60%;
    padding: 10px;
    object-fit: contain;
  }
}
/* メディアクエリここまで */

footer a {
  font-size: 1.4rem;
}

small {
  display: block;
  margin: 0 auto;
  text-align: center;
}
